{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "extends": [
        "standard"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "log": false
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
        "new-cap": "off",
        "semi": ["error", "never"],
        "quotes": ["error", "single"]
    }
}